.title {
  font: 700 40px / 48px Poppins, Helvetica, Arial, sans-serif;
  padding: 0.5em 0;
}

.poster {
  height: 300px;
  width: 180px;
  border-radius: 15px;
}

.card,
.card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // max-width: 250px;
  border-radius: 10px;
  padding-right: auto;
}

.card:hover {
  transform: scale(1.05);
}

.card__body {
  font: 700 40px / 48px Poppins, Helvetica, Arial, sans-serif;
  padding: 0 0.2em;
}

.card__name {
  margin: 0.5em 0;
  font-size: 1rem;
}

.card__desc {
  margin: 0.2em 0;
  text-align: center;
}

// .card {
//   perspective: 1000px;
//   &:hover,
//   &:active,
//   &:focus {
//     .card__img {
//       transform: rotateY(360deg);
//     }
//   }
// }

// .card__img {
//   transition: transform 0.4s ease-in-out;
//   transform-origin: 50% 50%;
//   transform-style: preserve-3d;
// }
