.title {
  font: 700 40px / 48px Poppins, Helvetica, Arial, sans-serif;
  padding: 0.5em 0;
}

.poster {
  height: 300px;
  border-radius: 15px;
  width: 100%;
}

.card {
  text-align: center;
  align-self: start;
}

.card,
.card__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card__body {
  font: 700 40px / 48px Poppins, Helvetica, Arial, sans-serif;
  padding-top: 0.3em;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 1.15;
}

.card__name {
  margin: 0.5em 0;
  font-size: 1rem;
}

.card__desc {
  margin: 0.2em 0;
  display: grid;
  place-items: center;
  background-color: var(--black);
  border-radius: 50px;
  width: 35px;
  position: absolute;
  left: 158px;
  top: -48px;
  padding: 0.6em;
  color: var(--white);
}

// .card {
//   perspective: 1000px;
//   &:hover,
//   &:active,
//   &:focus {
//     .card__img {
//       transform: rotateY(360deg);
//     }
//   }
// }

// .card__img {
//   transition: transform 0.4s ease-in-out;
//   transform-origin: 50% 50%;
//   transform-style: preserve-3d;
// }
