.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  border: 5px solid white;
  border-radius: 25px;
}

.btn-v2 {
  border: none;
  padding: 5px 8px;
  margin: 5px;
  border-radius: 24px;
  width: 120px;
  color: var(--white);
  background: var(--blue) none repeat scroll 0% 0%;
}

.btn-block {
  border: none;
  margin: 10px;
  padding: 10px 12px;
  border-radius: 24px;
  color: var(--white);
  background: var(--blue) none repeat scroll 0% 0%;
}

.list .btn-v2:hover {
  color: var(--white);
  background: var(--dblue) none repeat scroll 0% 0%;
  cursor: pointer;
}

.btn__text {
  padding: 0px;
  margin: 0px;
  color: inherit;
  font: 700 14px / 18px Poppins, Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
}

.list-item {
  list-style-type: none;
  margin-left: 10px;

  .display-img {
    height: 150px;
    width: 120px;
    border-radius: 100px;
  }

  .list-wrap {
    padding: 30px;
  }

  .list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 450px) {
  .list-row {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .list-row {
    justify-content: space-between;
  }
}
