/* NAVBAR */

.header {
  width: 100%;
  z-index: 100;
  color: var(--text);
}

.nav {
  display: flex;
  justify-content: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 60px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-1 {
  margin-left: 6px;
  // letter-spacing: 0.8px;
  font-weight: 500;
  font-family: Roboto;
}

.nav .scrollEffect {
  position: fixed;
  top: 0;
  left: initial;
  width: 100%;
  transition: width 400ms ease;

  padding: 0 0.8em;
  z-index: 100;
}

.logo {
  display: block;
  font-size: 38px;
  letter-spacing: -2px;
  color: var(--red);
  font-weight: 800;
  padding: 0 0.4em;
}

.nav-items {
  font-size: 16px;
  margin: 15px;
  position: relative;
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1228px;
  height: 60px;
}

.navcontent {
  display: flex;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

// .search {
//   border-radius: 50px;
//   background-color: transparent;
//   color: grey;
//   position: absolute;
//   top: -16px;
//   left: -160px;
//   padding: 0.6em 1.5em;
// }

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: --(text);
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}
