/* NAVBAR */

.header {
  // position: fixed;
  width: 100%;
  z-index: 100;
  // background-color: var(--black);
  color: var(--text);
}

// .container {
//   width: 90%;
//   margin: 0 auto;
// }

.nav {
  display: flex;
  justify-content: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 60px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ml-1 {
  margin-left: 6px;
  letter-spacing: 0.8px;
  font-weight: 600;
  font-family: Roboto;
}

// .google-blue {
//   color: #4285f4;
// }
// .google-red {
//   color: #db4437;
// }
// .google-yellow {
//   color: #f4b400;
// }
// .google-green {
//   color: #0f9d58;
// }

.nav .scrollEffect {
  position: fixed;
  top: 0;
  left: initial;
  width: 100%;
  transition: width 400ms ease;
  // background-color: var(--black);
  padding: 0 0.8em;
  z-index: 100;
}

.logo {
  display: block;
  font-size: 38px;
  letter-spacing: -2px;
  color: var(--red);
  font-weight: 800;
  padding: 0 0.4em;
}

.nav-items {
  font-size: 16px;
  margin: 15px;
  position: relative;
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1228px;
  height: 60px;
}

.navcontent {
  display: flex;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.search {
  border-radius: 50px;
  background-color: transparent;
  color: grey;
  position: absolute;
  top: -16px;
  left: -160px;
  padding: 0.6em 1.5em;
}
