/* NAVBAR */
header {
  position: relative;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  .visibility {
    visibility: hidden;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

.row {
  display: flex;
  align-items: center;
}

.ml-1 {
  margin-left: 6px;
  // letter-spacing: 0.8px;
  font-weight: 500;
  font-family: Roboto;
}

.nav .scrollEffect {
  position: fixed;
  top: 0;
  left: initial;
  width: 100%;
  transition: width 500ms ease;

  padding: 0 0.8em;
  z-index: 100;
}

.logo {
  display: block;
  font-size: 38px;
  letter-spacing: -2px;
  color: var(--red);
  font-weight: 800;
  padding-right: 0.4em;
}

.nav-items {
  font-size: 16px;
  margin: 8px;
  position: relative;
  &:hover {
    color: rgb(78, 159, 255);
    cursor: pointer;
    opacity: 0.7;
  }
}

.google {
  position: relative;
  bottom: 9px;
}

.navbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1228px;
  height: 60px;
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.navcontent {
  display: flex;
}

.nav-icon {
  height: 30px;
  width: 30px;
}

.mobile-nav {
  display: none;
}

//Search

.search-bar {
  height: 64px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;

  .search-field {
    width: 100%;
    height: 100%;
    // background-color: var(--primary);
    background-color: transparent;
    color: var(--text);
    text-align: center;
    font-family: lineto-circular-pro-book;
    font-size: 28px;
    border: none;
  }

  .close-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
  }

  input:focus {
    outline: none;
  }

  .close-search:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

@media (max-width: 768px) {
  .navbox {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1228px;
    height: 60px;
  }
  .nav-items {
    font-size: 16px;
    margin: 6px;
    position: relative;
  }
  .logo {
    padding: 0 0.4em;
    font-size: 1.8rem;
  }
  .nav-icon:hover {
    opacity: 0.7;
  }
}
