.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.custom_bg {
  height: 800px;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  height: 100%;
}

.preview-info {
  width: 800px;
  .title {
    margin: 0;
  }
  h4 {
    margin-top: 8px;
    margin-bottom: 40px;
  }
  p {
    margin: 16px 0;
  }
}

.preview-title {
  font-size: 28px;
}

.preview-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.poster-img {
  display: block;
  border-radius: 150px;
}

@media (max-width: 768px) {
  .poster-img {
    display: none;
  }
  .custom_bg {
    width: 100vw;
  }
}
