.sidebar {
  position: fixed;
  box-shadow: 2px 2px 50px rgb(0, 0, 0);
  top: 0;
  left: 0;
  width: 20rem;
  height: 100vh;
  overflow: scroll;
  z-index: 100;
  letter-spacing: 0.6px;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
  h3 {
    padding: 2rem;
  }
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.75s ease-out;

  img {
    width: 30%;
  }
  &:hover {
    background: var(--accent);
  }
}

.sidebar-link {
  &:hover {
    color: rgb(78, 159, 255);
  }
  svg {
    margin-left: 5px;
  }
  .nav-icon {
    height: 25px;
    width: 25px;
  }
}

.sidebar-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}

.active-sidebar {
  transform: translateX(0%);
  opacity: 1;
}

.sidebar-link + .sidebar-link {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 70%;
    list-style-type: none;
  }
}
