/* Footer */
footer {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_content {
  display: flex;
  margin-right: 40px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.rounded {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear 0.1s;
  top: 30px;
  // left: 30px;
  position: relative;
}

.footer-link {
  color: var(--text);
}

@media (max-width: 480px) {
  .footer_content {
    padding: 40px;
    align-items: center;
  }
  .footer-link {
    color: var(--text);
    align-items: center;
  }
}
@media (min-width: 800px) {
  .vl {
    padding-left: 30px;
    border-left: 2px solid white;
    /* height: 300px; */
  }
}
