/* Footer */
footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: center;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_content + .footer_content {
  margin-top: 30px;
}

.rounded {
  position: relative;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear 0.1s;
  top: 10px;
}

.footer-link {
  color: var(--text);
}

.footer-link + .footer-link {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .vl {
    padding: 0 30px;
    border-left: 2px solid white;
    /* height: 300px; */
  }
  footer {
    flex-direction: row;
  }
  .rounded {
    left: -30px;
  }
}
