/* Footer */
footer {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_content {
  display: flex;
  margin-right: 40px;
  flex-direction: column;
  justify-content: space-between;
}

.rounded {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: linear 0.1s;
  top: 30px;
  left: 30px;
  position: relative;
}

.vl {
  padding-left: 30px;
  border-left: 2px solid white;
  /* height: 300px; */
}

.link {
  color: var(--text);
}
