.container {
  max-width: 1228px;
  width: 90%;
  margin: 0 auto;
}

.title {
  font: 700 40px / 48px Poppins, Helvetica, Arial, sans-serif;
  padding: 0.5em 0;
}
.custom-select {
  position: relative;
  width: 185px;
}

.trailer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-y: hidden;
}

.trailer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

iframe {
  height: 350px;
  width: 600px;
}

@media (min-width: 1024px) {
  .trailer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
